<h1>Productos Disponibles</h1>
<div id="products">
    {{#each products}}
    <div class="product-card">
        <img src="/images/{{this.team}}.avif" alt="{{this.team}}" class="product-image">
        <div class="product-info">
            <h3>{{this.name}}</h3>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
        </div>
    </div>
    {{/each}}
</div>